*{
    box-sizing: border-box;
margin: 0;
padding: 0;
}




body {
    max-width: 2000px;
    background-color: rgb(120, 120, 137);
}

header {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    
}



header h1 {
    background-color: black;
    color: red;
    font-family: 'Caveat', cursive;
    font-size: 400%;
}

 header nav  {
    text-decoration: underline;
    color: rgb(73, 7, 7);
    font-family: 'Caveat', cursive;
    font-size: 150%;
   display: flex;
   justify-content: space-between;
   flex-basis: 25%;
   flex-wrap: wrap;
    }

    p {
    font-size: 35px;
    font-family:'Caveat', cursive ;
    color: rgb(40, 4, 4);
}

.background-img img  {
   width: 100%;
   height: 150px;
}

main section {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

#horiseon {
    background-image: url(../images/Horiseon-Website\ 3.png);

}

#box1 {
    background-image: url(../images/star-wars-death-star-at-at-space-wallpaper-preview.jpg);
}

#box2 {
    background-image: url(../images/the-elder-scrolls-v-skyrim-video-games-wallpaper-preview.jpg);
}

#box3 {
    background-image: url(../images/movies-film-reel-technology-projector-8mm-wallpaper-preview.jpg);
}

#box4 {
background-image: url(../images/304452.jpg);
}

main section h2 {
    flex-basis: 25%;
    text-align: right;
    padding-right: 20px;
    border-right: solid 3px rgb(7, 38, 7);
    font-size: 50px;
    margin-top: 30px;
    color: rgb(53, 11, 92);
    font-family: 'Caveat', cursive;
}

main section article {
    flex-basis: 70%;
}

.work-item {
    height: 200px;
    flex-basis: calc(50% - 1em);
    margin: 0.5em;
    border: solid 3px black;
}

.work-item:first-child{
    flex-basis: 100%;
    height: 350px;
}

.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section article nav {
    font-family: 'Caveat', cursive ;
    font-size: 25px;
   display: flex;
   justify-content: space-evenly;
   color: red;
}

.work-item div h3 {
  font-size: 30px;
  height: flex;
  width: 30%;
  flex-basis: calc(50% - 1em);
  margin: 0.5em;
  /* border: solid 3px black; */
  background-color: rgb(169, 166, 166); 
}

h3:hover {
    color: green;
  }
  
 


@media screen and (max-width:700px) {
    main section h2: flex-basis: 100%;
    
}



