
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #787889;
    color: #333;
}


header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    font-family: 'Caveat', cursive;
    font-size: 60px;
    
}


header nav {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

header a:hover {
    color: #ffd700; 
}


main {
    max-width: 1200px;
    margin: 20px auto;
}


.bio {
    text-align: justify;
}




.portfolio-work {
    text-align: center;
}

.work-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin: 10px;
    border: 3px solid #333;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
}

.work-item:hover {
    border-color: #ffd700; 
}

#horiseon {
    background-image: url('../images/Horiseon-Website 3.png'); 
}

#box1 {
    background-image: url('../images/Screenshot_2023-10-09_222855.png'); 
}

#box2 {
    background-image: url('../images/the-elder-scrolls-v-skyrim-video-games-wallpaper-preview.jpg');
}

#box3 {
    background-image: url('../images/movies-film-reel-technology-projector-8mm-wallpaper-preview.jpg'); 
}

#box4 {
    background-image: url('../images/304452.jpg'); 
}

.work-item div {
    text-align: center;
    padding: 10px;
}

.work-item div h3 {
    font-size: 1.5em;
}





#contact-me {
    text-align: center;
}

nav a {
    display: block;
    margin: 10px;
    font-size: 1.2em;
}


@media screen and (max-width: 700px) {
    header nav {
        flex-direction: column;
    }

    header a {
        margin-bottom: 10px;
    }
}
